<p>
  <app-author></app-author>
</p>
<router-outlet></router-outlet>
<!-- <h1 align="center">Authors data</h1>
<div class="container">
  <table class="table table trapped">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last name</th>
        <th>Date of birth</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor='let author of authors$ | paginate: { itemsPerPage: count, currentPage: p }'>
        <td>{{author.id}}</td>
        <td>{{author.first_name}}</td>
        <td>{{author.last_name}}</td>
        <td>{{author.date_of_birth}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="text-center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div> -->

